<div class="header">

  <div style="flex:1;" class="color-fff font-bold">
    {{selectTitle}}
  </div>

  <div class="user user-select">
    <ng-container *ngIf="listEnterprise.length>0">
      <a class="name mg-r20" nz-popover [nzPopoverContent]="enterTemplate">
        {{user?.companyName || '公司'}}
        <i class="icon" nz-icon nzType="down" nzTheme="outline"></i>
      </a>
      <ng-template #enterTemplate>
        <ng-container *ngFor="let enter of listEnterprise">
          <div class="font-12 themr-line-height cur-p" (click)="clickSelectEnterprise(enter.companyId)">
            {{enter.companyName}}
          </div>
        </ng-container>
      </ng-template>
    </ng-container>

    <a class="name" nz-popover [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottomRight">
      {{user?.userName || user?.name || '名称'}}
      <i class="icon" nz-icon nzType="down" nzTheme="outline"></i>
    </a>
    <ng-template #contentTemplate>
      <div class="font-12 line-24 cur-p" (click)="onClickGoto('./settings')">
        <i class="mg-r6" nz-icon nzType="bug" nzTheme="outline"></i>个性设置
      </div>
      <div class="font-12 line-24 cur-p" (click)="onClickExit()">
        <i class="mg-r6" nz-icon nzType="logout" nzTheme="outline"></i>退出
      </div>
    </ng-template>
  </div>
</div>