<div class="pd-t10" id="tableHeader">
  <div class="flex flex-row flex-wrap ">
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="8">税源地</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.areaId" id="areaId" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="8">项目名称</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select class="wb100" id="projectId" name="projectId" [(ngModel)]="page.projectId">
          <nz-option *ngFor="let option of projectList" [nzValue]="option.id" [nzLabel]="option.name">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="8">去重累加</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.isAdd" id="isAdd" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="8">任务名称</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.taskName" id="taskName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="8">员工名册</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.userName" id="userName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="8">付款状态</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <nz-select class="wb100" id="status" name="status" [(ngModel)]="page.status">
          <nz-option nzValue="0" nzLabel="未体现提现"></nz-option>
          <nz-option nzValue="1" nzLabel="提现中"></nz-option>
          <nz-option nzValue="2" nzLabel="提现完成"></nz-option>
          <nz-option nzValue="3" nzLabel="提现失败"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w500">
      <nz-form-label [nzSpan]="5">交易时间</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <nz-range-picker [(ngModel)]="page.date" (nzOnCalendarChange)="onChangeDate($event)"
          (ngModelChange)="onChange($event)" [nzPlaceHolder]="['交易开始时间','交易结束时间']" nzShowTime></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-control [nzOffset]="1">
        <a nz-button nzType="primary" class="mg-r8 user-select bor-r-theme" (click)="searchData(true)">
          <i nz-icon nzType="search" *ngIf="!isLoading"></i>
          <i nz-icon nzType="loading" *ngIf="isLoading"></i>
          查询
        </a>
        <a nz-button class="mg-r8 user-select" (click)="searchData(true)">
          重置
        </a>
        <a nz-button class="mg-r8 user-select" (click)="getDownload()">
          <i nz-icon nzType="download" nzTheme="outline"></i>导出数据
        </a>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<zc-table fixedHigh showHead [(page)]="page" [(tableHeader)]="tableHeader" [items]="items" [isLoading]="isLoading"
  (searchData)="searchData($event)">
</zc-table>