$theme-color: var(--theme-color);

.back-theme {
  background-color: $theme-color;
}
.color-theme {
  color: $theme-color;
}
p {
  margin-bottom: 0;
}

.taskCommit .commit-title {
  margin: 30px 0 25px;
}
.taskCommit .commit-tabs {
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
}
.taskCommit .commit-tabs .tab-item {
  width: 180px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.taskCommit .commit-tabs .tab-active {
  background-color: #f8f8f8;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}
.taskCommit .commit-tabs .tab-item .tab-title {
  color: #777;
}
.taskCommit .commit-tabs .tab-item .tab-num {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
}
.taskCommit .commit-tabs .tab-success .tab-num {
  color: $theme-color;
}
.taskCommit .commit-tabs .tab-active:after {
  content: "";
  display: block;
  width: 180px;
  height: 3px;
  background: #eee;
  position: absolute;
  bottom: -2px;
  background: $theme-color;
}
