<div class="pd-t10 pd-b10" id="tableHeader">
  <div class="flex flex-row flex-wrap ">
    <nz-form-item class="w200">
      <nz-form-label [nzSpan]="8">姓名</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.personName" id="personName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w200">
      <nz-form-label [nzSpan]="8">手机号</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.phone" id="phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-control [nzOffset]="2">
        <a nz-button nzType="primary" class="mg-r8 user-select" (click)="searchData(true)">
          <i nz-icon nzType="search" *ngIf="!isLoading"></i>
          <i nz-icon nzType="loading" *ngIf="isLoading"></i>
          查询
        </a>
        <a nz-button class="mg-r8 user-select" (click)="clickReset()">
          重置
        </a>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<zc-table fixedHigh showHead [(page)]="page" [(tableHeader)]="tableHeader" [items]="items" [isLoading]="isLoading"
  (searchData)="searchData($event)">
</zc-table>


<ng-template #drawerTemplate let-data let-drawerRef="drawerRef">
  <form nz-form>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">任务编号</nz-form-label>
      <nz-form-control [nzSpan]="19">{{data?.item?.taskNo}}</nz-form-control>
    </nz-form-item>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">姓名</nz-form-label>
      <nz-form-control [nzSpan]="19">{{data?.item?.personName}}</nz-form-control>
    </nz-form-item>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">手机号</nz-form-label>
      <nz-form-control [nzSpan]="19">{{data?.item?.phone}}</nz-form-control>
    </nz-form-item>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">任务地点</nz-form-label>
      <nz-form-control [nzSpan]="19">{{data?.item?.propertyAddresss}}</nz-form-control>
    </nz-form-item>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">任务名称</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <div *ngFor="let name of data?.item?.TransactionName">{{name}}</div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">工作量</nz-form-label>
      <nz-form-control [nzSpan]="19">{{data?.item?.TransactionNameCount}} 套</nz-form-control>
    </nz-form-item>
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="4">结算标准</nz-form-label>
      <nz-form-control [nzSpan]="19">{{data?.item?.result}}</nz-form-control>
    </nz-form-item>
  </form>

  <div class="footer">
    <button nz-button (click)="drawerRef.close()">关闭</button>
  </div>
</ng-template>