<div class="pd-t10 pd-b10" id="tableHeader">
  <div class="flex flex-row flex-wrap ">
    <nz-form-item class="w300">
      <nz-form-label [nzSpan]="6">项目</nz-form-label>
      <nz-form-control [nzSpan]="18">
        <nz-select nzAllowClear class="wb100" id="projectId" name="projectId" [(ngModel)]="page.projectId"
          (ngModelChange)="searchData()">
          <nz-option *ngFor="let option of projectList" [nzValue]="option.id" [nzLabel]="option.name">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w200">
      <nz-form-label [nzSpan]="8">姓名</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.username" id="username" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w200">
      <nz-form-label [nzSpan]="8">手机号</nz-form-label>
      <nz-form-control [nzSpan]="16">
        <input nz-input [(ngModel)]="page.phone" id="phone" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="w300">
      <nz-form-control>
        <a nz-button nzType="primary" class="mg-r8 user-select" (click)="searchData(true)">
          <i nz-icon nzType="search" *ngIf="!isLoading"></i>
          <i nz-icon nzType="loading" *ngIf="isLoading"></i>
          查询
        </a>
        <a nz-button class="mg-r8 user-select" (click)="clickReset()">
          重置
        </a>
        <button nz-button (click)="getDownload()" [disabled]="checkIds.length==0">
          <i nz-icon nzType="download" nzTheme="outline"></i>导出成员</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<zc-table checkBox fixedHigh showHead [(page)]="page" [(tableHeader)]="tableHeader" [items]="items"
  [isLoading]="isLoading" (searchData)="searchData($event)" (checkBoxChange)="checkIds = $event">
</zc-table>