<!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"> -->

<div class="login">
  <div class="login-content bor-r8">
    <div class="row back-white">
      <div class="col-lg-6 d-none d-lg-flex" style="width: 480px;">
        <div class="flex-grow-1 bg-login-image"
          style="background: url(assets/img/ads/loginbg1.jpg) center / cover no-repeat;opacity: 1;">
          <div>
            <p
              style="color: rgb(255,255,255);font-size: 28px;text-align: center;margin: 0;margin-top: 188PX;border-style: none;text-shadow: 1px 1px 1px rgb(0,0,0);">
              我们用心，企业放心！<br>新麦 您的税务好帮手！<br>新麦 您身边的财税专家！<br></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <div class="text-center">
            <div><img src="assets/img/ads/logo.png"
                style="filter: contrast(101%) saturate(100%);width: 208px;margin-bottom: 19px;color: rgb(40,115,187);">
            </div>
            <h4 class="text-dark mb-4">欢迎回来!</h4>
          </div>
          <form nz-form [formGroup]="dynForm" class="user" (ngSubmit)="submitForm()">
            <nz-form-item>
              <nz-form-control [nzErrorTip]="phoneErrorTpl">
                <input nz-input class="form-control form-control-user" type="tel" id="phone" formControlName="phone"
                  placeholder="输入手机号" />
                <ng-template #phoneErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    请输入手机号码!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('mobile')">
                    {{control.errors['mobile']}}
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    {{control.errors['duplicated']}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="captcha">
              <nz-form-control nzErrorTip="请输入图形验码">
                <nz-input-group nzSearch [nzAddOnBefore]="suffixButton">
                  <input class="form-control form-control-user captcha" type="text" nz-input placeholder="输入图形验证码"
                    formControlName="captcha">
                </nz-input-group>
                <ng-template #suffixButton>
                  <img [src]="captcha.img" class="captcha" *ngIf="captcha" (click)="getCaptcha()">
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control [nzErrorTip]="codeErrorTpl">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                  <input class="form-control form-control-user smsCode" type="text" nz-input placeholder="输入短信验证码"
                    formControlName="smsCode">
                </nz-input-group>
                <ng-template #suffixButton>
                  <a class="btn btn-primary btn_verify_code" style="height:50px;line-height:38px;"
                    (click)="clickGetCode()">
                    {{ !isCountdown ? '获取验码' : countdownNumber+' 秒'}}
                  </a>
                </ng-template>
                <ng-template #codeErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    请输入短信验证码!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    {{control.errors['duplicated']}}
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item style="margin-bottom:0 !important;">
              <nz-form-control nzErrorTip="请同意《新麦平台须知》《隐私权政策》">
                <div class="custom-control custom-checkbox small">
                  <div class="form-check">
                    <input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1" checked=""
                      formControlName="read">
                    <label class="form-check-label custom-control-label" id="agree" for="formCheck-1">同意意&nbsp;<a
                        href="https://staticdoc.kingmogu.com/user_register">《新麦平台须知》</a>与&nbsp;<a
                        href="https://staticdoc.kingmogu.com/company_private">《隐私权政策》</a><br>
                    </label>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>

            <button class="btn btn-primary btn-block text-white btn-user" id="btn_submit" type="button"
              (click)="submitForm()">登录</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>