
.login {
  min-width: 800px;
  position: relative;
  height: 100%;
  width: 100%;
  background: #4e73df;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-content {
    z-index: 1;
    overflow: auto;
  }
}

::ng-deep .has-error .ant-form-explain,
::ng-deep .has-error .ant-form-split {
  margin-left: 20px;
}
