<div class="pd-t20">
  <h3 class="text-title mg-b10">{{info?.companyName || '企业名称'}}</h3>
  <div class="flex">

    <div class="card">
      <div class="card-body" style="border-left-color: #4e73df;">
        <div class="card-body-gutters">
          <div class="" style="flex:1;">
            <div class="font-12 font-bold" style="color:#4e73df;">可用余额</div>
            <div class="font-20 font-bold">{{capital?.balance}}</div>
          </div>
          <div class="">
            <i class="fas fa-yen-sign fa-2x fas-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" style="border-left-color: #1cc88a;">
        <div class="card-body-gutters">
          <div class="" style="flex:1;">
            <div class="font-12 font-bold" style="color:#1cc88a;">结算中金额</div>
            <div class="font-20 font-bold">{{capital?.freeze}}</div>
          </div>
          <div class="">
            <i class="fas fa-yen-sign fa-2x fas-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" style="border-left-color: #36b9cc;">
        <div class="card-body-gutters">
          <div class="" style="flex:1;">
            <div class="font-12 font-bold" style="color:#36b9cc;">已结算次数</div>
            <div class="font-20 font-bold">{{capital?.commissionNumber}}</div>
          </div>
          <div class="">
            <i class="fas fa-clipboard-list fa-2x fas-icon"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body" style="border-left-color: #f6c23e;">
        <div class="card-body-gutters">
          <div class="" style="flex:1;">
            <div class="font-12 font-bold" style="color:#f6c23e;">已结算金额</div>
            <div class="font-20 font-bold">{{capital?.commissionAmount}}</div>
          </div>
          <div class="">
            <i class="fas fa-yen-sign fa-2x fas-icon"></i>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="pd-t20">
  <h3 class="text-title mg-b10">企业账户</h3>
  <div class="flex flex-wrap">

    <div class="balance" *ngFor="let item of capital?.accountList">
      <div class="balance-body">
        <div class="flex flex-row flex-self-center flex-justify-center">
          <img [src]="item?.bankLogoUrl" class="banklogo">
          <div class="pd-l8">
            <span class="d-block">{{item?.bankName}}</span>
            <span class="d-block">{{item?.bankNo}}</span>
          </div>
        </div>
        <div class="pd-t6">
          <div class="">
            ￥
            <span class="font-bold">{{item?.balance}}</span>
            元
          </div>
          <div class="flex">
            <div class="text-ellipsis" style="flex:1;">{{item?.accountName}}</div>
            <div class="font-12 back-gray-2 color-666 cur-p" style="line-height:21px;padding:0 4px;"
              routerLink="/layout/record/fund" [queryParams]="{accountId: item?.accountId}">资金明细</div>
          </div>
        </div>
      </div>
    </div>

    <div class="balance flex" style="padding: 16px 32px;" *ngIf="capital?.zfbAccount">
      <i class="fa fa-plus cur-p color-theme flex-self-center flex-justify-center" style="font-size: 80px;"
        (click)="openAlipay()"></i>
    </div>

  </div>
</div>

<ng-template #tplContent>
  <form nz-form [formGroup]="dynForm" class="">
    <nz-form-item class="mg-b0">
      <nz-form-label [nzSpan]="8" nzRequired nzFor="companyMail">支付宝账号</nz-form-label>
      <nz-form-control [nzSpan]="15" nzErrorTip="请输入支付宝账号!">
        <input zcTrim nz-input id="companyMail" required formControlName="companyMail" />
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-template>